@{
    ViewBag.Title = "Communication C1";
}

<div class="row">
    <div class="col-lg-12">
        
        <div class="panel panel-danger">
            <div class="panel-heading">
                <span>Pending material tasks</span>
            </div>
            <div class="panel panel-body">
                <table class="table table-responsive table-condensed table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Command No</th>
                        <th class="text-center">Lot No</th>
                        <th class="text-center">Kneading command</th>
                        <th class="text-center">Product No</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">
                            <a href="javascript:void(0);">CommandNo Hyperlink</a>
                        </td>
                        <td class="text-center">Lot No</td>
                        <td class="text-center">Kneading Command</td>
                        <td class="text-center">Product No</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <a href="javascript:void(0);">CommandNo Hyperlink</a>
                        </td>
                        <td class="text-center">Lot No</td>
                        <td class="text-center">Kneading Command</td>
                        <td class="text-center">Product No</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <a href="javascript:void(0);">CommandNo Hyperlink</a>
                        </td>
                        <td class="text-center">Lot No</td>
                        <td class="text-center">Kneading Command</td>
                        <td class="text-center">Product No</td>
                    </tr>

                    </tbody>
                </table>
                
                <br/>
                
                <div class="pull-right">
                    <ul class="pagination">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>
