@{
    ViewBag.Title = "Daily Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using KCSG.Core;
@using KCSG.Core.Constants
@using KCSG.Core.CustomControls
@using KCSG.jsGrid.MVC
<script src="~/Scripts/areas/dailyprocess/dailyProcess.js"></script>


<div class="col-lg-12">
    <div class="panel panel-danger">
        <div class="panel-body text-center">
            <h3>
                Kyocera Chemical Singapore Pte. Ltd.
            </h3>
            <h3>
                Singapore Works Production Control System
            </h3>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="panel panel-danger">
        <div class="panel-body text-center">
            <label>
                Daily Process, OK to Proceed?
            </label>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <button type="button" class="btn btn-flat btn-default btn-less-5-chars pull-right" id="dailyprocess" onclick=" DailyProcess() ">OK</button>
</div>


